/* PAGE */
.ul-page{
    min-height:100vh;
    background:#f4f6ff;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    font-family:Segoe UI,sans-serif;
  }
  
  /* PURPLE CURVE TOP */
  .ul-top-bg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:45%;
    background:linear-gradient(135deg,#7c3aed,#5b21b6);
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
  }
  
  /* LOGIN CARD */
  .ul-card{
    width:360px;
    background:white;
    padding:40px 30px 120px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 20px 50px rgba(0,0,0,.25);
    position:relative;
    z-index:2;
  }
  
  /* LOGO */
  .ul-logo{
    color:white;
    margin-top:-120px;
    margin-bottom:10px;
  }
  
  /* TEXTS */
  .ul-welcome{
    color:white;
    margin-bottom:40px;
  }
  
  .ul-card h2{
    margin-bottom:5px;
  }
  
  .ul-sub{
    font-size:13px;
    color:#777;
    margin-bottom:20px;
  }
  
  /* INPUTS */
  .ul-card input,
  .ul-card select{
    width:100%;
    padding:11px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ddd;
  }
  
  /* PASSWORD */
  .password-wrapper{
    position:relative;
  }
  
  .password-wrapper span{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
  }
  
  /* BUTTON */
  .log-btn{
    width:100%;
    padding:12px;
    background:#7c3aed;
    border:none;
    color:white;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
  }
  
  /* AVATAR IMAGE */
  .ul-avatar{
    position:absolute;
    bottom:-70px;
    left:50%;
    transform:translateX(-50%);
  }
  
  .ul-avatar img{
    width:140px;
  }
  
  /* MOBILE */
  @media(max-width:500px){
    .ul-card{
      width:90%;
    }
  }
  